@keyframes pulse {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:host([hidden]) {
  display: none;
}

:host {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color: var(--app-header-bg-color, transparent);
  @apply(--app-header);
  .panel-left {
    color: var(--app-header-panel-left-color, #666);
    font-weight: lighter;
    padding: 1em;
    width: 80%;
    @apply(--app-header-panel-left);
    &__title {
      font-weight: lighter;
      color: var(--app-header-title-color, #212121);
      font-size: 22px;
      margin: 0;
      text-transform: capitalize;
      @apply(--app-header-title);
    }

    &__subtitle {
      font-weight: lighter;
      margin: 0;
      color: var(--app-header-subtitle-color, #666);
      font-size: 18px;
      @apply(--app-header-subtitle);
    }
    &__left-content {
      padding: 2em 0;
      @apply(--app-header-title-left-content);
    }
  }
  .panel-right {
    color: var(--app-header-panel-right-color, #666);
    width: 20%;
    border-left: 1px solid var(--app-page-panel-right-b-l, #e5e5e5);
    padding: 1em;
    @apply(--app-page-panel-right);
    &__right-content {
      @apply(--app-header-title-right-content);
    }
  }
}

:host([hide-panel-right]) {
  display: block;
  @apply(--app-header-hide-panel-right);
  .panel-left {
    width: 100%;
    @apply(--app-header-hide-panel-right-panel-left);
  }
}

@media(max-width: 770px) {
  :host([responsive]) {
    display: block;
    @apply(--app-header-responsive);
    .panel-left {
      width: 100%;
      @apply(--app-header-responsive-panel-left);
    }
    .panel-right {
      border-left: 0;
      border-top: 1px solid var(--app-page-responsive-panel-right-b-t, #e5e5e5);
      width:100%;
      @apply(--app-header-responsive-panel-right);
    }
  }
}

:host([fade-in]) {
  animation: pulse 1.5s;
}
